<app-sidebar></app-sidebar>
<div class="content">
	<div *ngIf="hasNotifications()">
		<div *ngFor="let notification of notifications" role="alert" class="alert alert-dismissible" [ngClass]="{'alert-warning': notification.isError(), 'alert-success': !notification.isError()}">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{ notification.message }}
		</div>
	</div>
	<div class="card">
		<div class="card-header"><h1>Seasons - {{ deviceName }}</h1></div>
		<div class="card-body">
			<div *ngIf="!hasData()" class="text-center spacer">
				No data
			</div>
			<div *ngIf="hasData()">
				<table class="table no-row-border">
					<tbody>
						<tr *ngFor="let season of seasons">
							<td class="col-8 col-md-10 td-massive-list vertical-center for-small-centered">
								<a class="a-massive-list" (click)="openSeason(season)" [routerLink]="">{{ season.name }}</a>
							</td>
							<td class="col-4 col-md-2 td-massive-list for-small-centered for-big-right-aligned">
								<button class="btn btn-warning btn-md" type="button" (click)="editSeason(season)">
									<i class="material-icons md-18">edit</i>
								</button>
								&nbsp;
								<button class="btn btn-danger btn-md" type="button" (click)="deleteSeason(season)">
									<i class="material-icons md-18">delete</i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<nav aria-label="...">
					<ul class="pagination pagination-lg justify-content-center">
						<li *ngFor="let p of this.utilService.pagination(pageNumber, totalPages)" class="page-item"
						[ngClass]="{'inactiveLink disabled': this.utilService.isPointsOrCurrentPage(p, pageNumber),
						currentPage: this.utilService.isCurrentPage(p, pageNumber)}">
						<a class="page-link" [routerLink]="" (click)="loadPage(p)">{{ p }}</a>
					</li>
				</ul>
			</nav>
		</div>
		&nbsp;
		<button (click)="addSeason()" class="btn btn-info btn-lg" role="button">Add</button>
	</div>
</div>
</div>
