body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;

    #content {
        padding: 30px 50px;
        @media (max-width: 768px) {
            padding: 0px 0px;
        }
    }
}
.nopadding {
    padding: 0px;
}
.inactiveLink {
   pointer-events: none;
   cursor: default;
}
.currentPage {
    font-weight: bold;
}
.with-margin {
  margin-bottom: 15px;
}
.spacer {
    margin-top: 20px;
    font-size: 1.4em;
}
.spacer-top-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4em;
}
.spacer-bottom {
    margin-bottom: 20px;
}
.no-row-border {
    tbody {
        tr {
            td {
                border: 0px;
            }
        }
    }
}
.vertical-center {
    display: flex;
    align-items: center;
}
.block-tools {
    a {
        cursor: pointer;
        i {
            font-size: 36px;
        }
    }
}
.material-icons.md-18 {
    font-size: 18px;
}
.breakable {
    word-break: break-all;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .for-big { display: none; }
  .for-small {}
  .key-column {
    font-weight: bold;
  }
  .for-small-centered { text-align: center; }
  .for-small-no-padding-left { padding-left: 0; }
}
@media screen and (min-width: 481px) {
  .for-big {}
  .for-small { display: none; }
  .for-big-right-aligned { text-align: right; }
}

div.content {
  margin-left: 62px;
  padding: 30px 40px;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 62px;
  background-color: #2d2d2d;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: #fff;
  padding: 16px;
  cursor: pointer;
  text-decoration: none;
}
.sidebar a i {
  font-size: 30px;
}
.sidebar a.active {
  background-color: #00a8ff;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.content {
    margin-left: 0;
    padding: 0px 0px;
  }
}
.no-pointer {
    cursor: default;
}
.greyed-out {
    color: #474747;
}

html, body { height: 100%; }
body { margin: 0; }
