body {
     margin: 0;
     background: #F2F2F2;
     font-family: 'Montserrat', sans-serif;
     height: 100vh;
}
#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;

    #content {
        padding: 30px 50px;
        @media (max-width: 768px) {
            padding: 0px 0px;
        }
    }
}
.nopadding {
    padding: 0px;
}
.inactiveLink {
   pointer-events: none;
   cursor: default;
}
.currentPage {
    font-weight: bold;
}
.with-margin {
  margin-bottom: 15px;
}
.spacer {
    margin-top: 20px;
    font-size: 1.4em;
}
.spacer-bottom {
    margin-bottom: 20px;
}
.no-row-border {
    tbody {
        tr {
            td {
                border: 0px;
            }
        }
    }
}
.vertical-center {
    display: flex;
    align-items: center;
}
.block-tools {
    a {
        cursor: pointer;
        i {
            font-size: 36px;
        }
    }
}
.material-icons.md-18 { font-size: 18px; }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .for-big { display: none; }
  .for-small { display: block; }
}
@media screen and (min-width: 481px) {
  .for-big { display: block; }
  .for-small { display: none; }
}