body {
     margin: 0;
     background: #F2F2F2;
     font-family: 'Montserrat', sans-serif;
     height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;

    #content {
        padding: 30px 50px;
        @media (max-width: 768px) {
            padding: 0px 0px;
        }
    }
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}
.currentPage {
    font-weight: bold;
}
.with-margin {
  margin-bottom: 15px;
}
