
	<app-sidebar></app-sidebar>
	<div class="content">
		<div *ngIf="hasNotifications()">
			<div *ngFor="let notification of notifications" role="alert" class="alert alert-dismissible" [ngClass]="{'alert-warning': notification.isError(), 'alert-success': !notification.isError()}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{ notification.message }}
			</div>
		</div>
		<div class="card">
			<div class="card-header"><h1><span class="for-big">Device details - </span>{{ device.name }}</h1></div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-lg-4">
						<div class="card">
							<div class="card-header"><h4>Details</h4></div>
							<div class="card-body">
								<table class="table table-sm no-row-border">
									<tbody>
										<tr>
											<td class="col-3"><b>Id:</b></td>
											<td class="col-9">{{device.id}}</td>
										</tr>
										<tr>
											<td class="col-3"><b>Name:</b></td>
											<td class="col-9">{{device.name}}</td>
										</tr>
										<tr>
											<td class="col-3"><b>Token:</b></td>
											<td class="col-9 breakable">{{device.token}}</td>
										</tr>
										<tr>
											<td class="col-3"><b>Enabled:</b></td>
											<td class="col-9"><input type="checkbox" [checked]="device.enabled" disabled></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card">
							<div class="card-header"><h4>Tools</h4></div>
							<div class="card-body">
								<div class="block-tools">
									<a title="Plant Maintenances" routerLink="/devices/{{deviceId}}/maintenance">
										<i class="material-icons text-secondary">local_florist</i>
									</a>
									<a title="Pings" routerLink="/devices/{{deviceId}}/pings">
										<i class="material-icons text-secondary">track_changes</i>
									</a>
									<a title="Bootups" routerLink="/devices/{{deviceId}}/bootups">
										<i class="material-icons text-secondary">offline_bolt</i>
									</a>
									<a title="Pump Actions" routerLink="/devices/{{deviceId}}/pumpactions">
										<i class="material-icons text-secondary">local_drink</i>
									</a>
									<a title="Sensor Reports" routerLink="/devices/{{deviceId}}/sensorreports">
										<i class="material-icons text-secondary">library_books</i>
									</a>
									<a title="Crop" routerLink="/devices/{{deviceId}}/seasons">
										<i class="material-icons text-secondary">kitchen</i>
									</a>
									<a title="Edit device" routerLink="/devices/{{deviceId}}/edit">
										<i class="material-icons text-secondary">edit</i>
									</a>
									<a title="Run pump once" (click)="enableRunPumpOnce()">
										<i class="material-icons text-info">power</i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-5">
						<div class="card">
							<div class="card-header"><h4>Configurations</h4></div>
							<div class="card-body">
								<div *ngIf="!hasConfig()" class="text-center">
									No data
								</div>
								<div *ngIf="hasConfig()">
									<table class="table table-sm no-row-border">
										<thead class="thead-light">
											<tr>
												<th scope="col">Key</th>
												<th scope="col" class="text-center">Value</th>
												<th scope="col" class="text-center">Type</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let cfg of device.config">
												<td class="col-6 breakable key-column for-small-centered">{{ cfg.key }}</td>
												<td class="col-3 text-center">{{ cfg.value }}</td>
												<td class="col-3 text-center">{{ cfg.type }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-3">
						<div class="card">
							<div class="card-header"><h4>Exclusions</h4></div>
							<div class="card-body">
								<div *ngIf="!hasExclusions()" class="text-center">
									No data
								</div>
								<div *ngIf="hasExclusions()">
									<table class="table table-sm no-row-border">
										<tbody>
											<tr *ngFor="let exclusion of device.exclusions" >
												<td class="breakable key-column for-small-centered">
													{{ exclusion.map }}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header"><h4>Notes</h4></div>
							<div class="card-body">
								<div *ngIf="!hasNotes()" class="text-center">
									No data
								</div>
								<div *ngIf="hasNotes()">
									<table class="table table-sm no-row-border">
										<tbody>
											<tr>
												<td class="td-pre-notes">
													{{ device.notes }}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
