	<app-sidebar></app-sidebar>
	<div class="content">
		<div *ngIf="hasNotifications()">
			<div *ngFor="let notification of notifications" role="alert" class="alert alert-dismissible" [ngClass]="{'alert-warning': notification.isError(), 'alert-success': !notification.isError()}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{ notification.message }}
			</div>
		</div>
		<div class="card">
			<div class="card-header"><h1>Edit Settings</h1></div>
			<div class="card-body">
				<br/>
				<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
					<div class="row">
						<div class="col-8 offset-md-2">
							<div class="form-group">
								<div class="row">
									<div class="col-2">
										<label for="key" class="col-form-label"><b>Key</b></label>
									</div>
									<div class="col-10">
										<input type="text" [formControl]="keyCtrl" name="key" class="form-control" id="key" disabled>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-2">
										<label for="value" class="col-form-label"><b>Value</b></label>
									</div>
									<div class="col-10">
										<input type="text" [formControl]="valueCtrl" name="value" class="form-control" id="value">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="offset-md-2 col-sm-10">
										<button class="btn btn-success btn-md" [disabled]="!editForm.valid">Update</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
