<div class="sidebar">
	<ng-container *ngIf="canGoBack">
		<a routerLink="" (click)="goBackCallback()">
			<i class="material-icons">arrow_back</i>
		</a>
	</ng-container>
	<ng-container *ngIf="!canGoBack">
		<a class="no-pointer">
			<i class="material-icons greyed-out">reorder</i>
		</a>
	</ng-container>
	<ng-container>
		<a routerLink="" [class.active]="isStatusGroup()">
			<i class="material-icons">details</i>
		</a>
	</ng-container>
	<ng-container *ngIf="hasToken">
		<a routerLink="/history" [class.active]="isHistoryGroup()">
			<i class="material-icons">bar_chart</i>
		</a>
	</ng-container>
	<ng-container *ngIf="hasToken">
		<a routerLink="/devices" [class.active]="isDeviceGroup()">
			<i class="material-icons">devices</i>
		</a>
	</ng-container>
	<ng-container *ngIf="hasToken">
		<a routerLink="/settings" [class.active]="isSettingsGroup()">
			<i class="material-icons">settings</i>
		</a>
	</ng-container>
	<ng-container *ngIf="hasToken">
		<a (click)="logoutWithConfirmation()">
			<i class="material-icons">exit_to_app</i>
		</a>
	</ng-container>
	<ng-container *ngIf="!hasToken">
		<a routerLink="/login" [class.active]="isLoginGroup()">
			<i class="material-icons">account_circle</i>
		</a>
	</ng-container>
</div>
