<div id="container">
	<app-sidebar></app-sidebar>
	<div id="content">
		<div *ngIf="hasNotifications()">
			<div *ngFor="let notification of notifications" role="alert" class="alert alert-dismissible" [ngClass]="{'alert-warning': notification.isError(), 'alert-success': !notification.isError()}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{ notification.message }}
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading"><h1>Settings</h1></div>
			<div class="panel-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Action <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a (click)="clearCache()">Clear Cache</a></li>
					</ul>
				</div>
				<div *ngIf="!hasData()" class="text-center spacer">
					No data
				</div>
				<div *ngIf="hasData()">
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="col-xs-8">Key</th>
								<th scope="col" class="col-xs-2">Value</th>
								<th scope="col" class="col-xs-2 text-right">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let cfg of configurations">
								<td>{{ cfg.key }}</td>
								<td>{{ cfg.value }}</td>
								<td class="text-right">
									<button class="btn btn-warning btn-md" type="button" (click)="editSettings(cfg)">
										<i class="material-icons md-18">edit</i>
									</button>
									&nbsp;
									<button class="btn btn-danger btn-md" type="button" (click)="deleteSettings(cfg)">
										<i class="material-icons md-18">delete</i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				&nbsp;
				<button (click)="addSettings()" class="btn btn-info btn-lg" role="button">Add</button>
			</div>
		</div>
	</div>
</div>
