nav {
    background: #2D2E2E;
    height: 100%;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {

            a {
                color: #fff;
                padding: 20px;
                display: block;

                i {
                    font-size: 30px;
                }
            }

            .activated {
                background-color: #00a8ff;
            }
        }
    }
    
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.contentul {
    list-style-type: none;
    margin:0;padding:0;

    li {
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 8px;

        a {
            font-size: 1.5em;
            text-decoration: none;
            font-weight: bold;
            color:#00A8FF;
        }

        ul {
            margin-top: 20px;
            
            li {
                padding:0;

                a {
                    font-size: 1em;
                    font-weight: 300;
                }
            }
        }
    }
}
