<div id="container">
	<app-sidebar></app-sidebar>
	<div id="content">
		<div *ngIf="hasNotifications()">
			<div *ngFor="let notification of notifications" role="alert" class="alert alert-dismissible" [ngClass]="{'alert-warning': notification.isError(), 'alert-success': !notification.isError()}">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{ notification.message }}
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading"><h1>Devices</h1></div>
			<div class="panel-body">
				<div *ngIf="!hasData()" class="text-center spacer">
					No data
				</div>
				<div *ngIf="hasData()">
					<table class="table no-row-border">
						<tbody>
							<tr *ngFor="let device of devices">
								<td class="td-device vertical-center"><a routerLink="/devices/{{device.id}}">{{ device.name }}</a></td>

							</tr>
						</tbody>
					</table>
				</div>
				&nbsp;
				<button routerLink="/add-device" class="btn btn-info btn-lg" role="button">Add</button>
			</div>
		</div>
	</div>
</div>
