.gaugeText {
    font-weight: bold;
    font-size:150%;
    display: block;
}
.gauge {
  width: 100%;
  height: 100%;
}
.card {
  margin-bottom: 20px;
}
.card-body > ul {
  margin-bottom: 20px;
}
.card-body > ul:last-child {
  margin-bottom: 0px;
}
.card-header {
  font-size:125%;
}
.content {
  display: grid;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .row {
  	margin: 0;
  }
}
