#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;

    #content {
        padding: 30px 50px;
        @media (max-width: 768px) {
            padding: 0px 0px;
        }

        .contentul {
            list-style-type: none;
            margin:0;padding:0;
        
            li {
                background: #fff;
                border-radius: 8px;
                padding: 20px;
                margin-bottom: 8px;
        
                a {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color:#00A8FF;
                }
        
                ul {
                    margin-top: 20px;
                    
                    li {
                        padding:0;
        
                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.gaugeText {
    font-weight: bold;
    font-size:150%;
    display: block;
    text-align: center;
}
.gauge {
  width: 100%;
  height: 100%;
}
.panel-body > ul:last-child {
  margin-bottom: 0;
}
#statuscont {
  font-size:110%;
}
@media (max-width: 768px) {
  .container {
    padding: 0px;
  }
  h1 {
    margin-top: 0px;
    text-align: center;
  }
}
.panel-heading {
  font-size:125%; 
}


