.gaugeText {
    font-weight: bold;
    font-size:150%;
    display: block;
    text-align: center;
}
.gauge {
  width: 100%;
  height: 100%;
}
.panel-body > ul:last-child {
  margin-bottom: 0;
}
.statuscont {
  font-size:110%;
}
.panel-heading {
  font-size:125%; 
}